/vendor/
/node_modules/
/composer.lock

/etc/build/*
!/etc/build/.gitignore
/var/

/behat.yml
/phpunit.xml

/tests/TestApplication/.env.local
/tests/TestApplication/.env.*.local

.phpunit.result.cache

###> docker ###
docker-compose.override.yml
###< docker ###
