/vendor/
/node_modules/
/composer.lock
/phpspec.yml

/etc/build/*
!/etc/build/.gitignore

/behat.yml
/phpunit.xml

/tests/TestApplication/.env.local
/tests/TestApplication/.env.*.local

.phpunit.result.cache
